@import "tailwindcss";

.only {
  position: relative;
}
.only::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.only:hover::after {
  width: 100%;
}

.only.active::after {
  width: 100%;
}

*::-webkit-scrollbar{
    display: none;
}
*{
    user-select: none;
}
html, body {
background-color: #F6F0E8;
}