@import "tailwindcss";

.only {
  position: relative;
}
.only::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.only:hover::after {
  width: 100%;
}

.only.active::after {
  width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  user-select: none;
}
html,
body {
  background-color: #f6f0e8;
} 
/* .gtranslate_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gtranslate_wrapper select {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 1.1rem;
  cursor: pointer;
  appearance: none;
  transition: all 0.3s ease;
}

.gtranslate_wrapper select:hover,
.gtranslate_wrapper select:focus {
  background-color: white;
  color: black;
  border-color: black;
}
@media (max-width: 768px) {
  .gtranslate_wrapper select {
    padding: 0.4rem 0.8rem;
    font-size: 0.81rem;
  }
}

@media (max-width: 480px) {
  .gtranslate_wrapper select {
    padding: 0.35rem 0 0.35rem 0.5rem;
    font-size: 0.75rem;
  }
} */
